.anchoInput{
    width: 20rem;
}

.anchoSubmit{
    width: 10rem;
}

.cerrarModal{
    cursor: pointer;
    font-size: 20px;
    background: #cb4444;
    padding: 0 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modalUsuario{
    background: #aaa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 75%;
    height: 50%
}

@media (min-width: 1280px) {
    .modalUsuario{
        width: 50%
    }
}

@media (max-width: 500px) {
    .modalUsuario{
        width: 100%
    }
}